# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Rubbing-Vegetables.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repository Unity\Rubbing Vegetables Repository\Rubbing-Vegetables\Rubbing-Vegetables\.idea\.idea.Rubbing-Vegetables\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
